spring:
  datasource:
    url: jdbc:mysql://localhost:3306/amazon-refactored
    username: root
    password: 123456789
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080